{{!-- Technician PAGE --}}
{{!-- <h3>Hello {{user.name}} !!!</h3> --}}
{{!-- <h2>Hello {{user.name}} </h2> --}}
 
<h3>
    Dashboard
</h3>
 <table class="table table-bordered setBgForForm shadow-sm p-3 mb-5 rounded font-weight-bold">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Complaint By</th>
      <th scope="col">Description</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each data}}
        <tr>
            <td>{{id}}</td>          
            <td>{{name}}</td>
            <td>{{desc}}</td>
           
        </tr>
    {{/each}}
    
  </tbody>
</table>
