<h3>Hello {{user.name}} !!!</h3>

<br>
<br>

<table class="table table-bordered setBgForForm font-weight-bold">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User Name</th>
      <th scope="col">User Contact</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each complaints}}
        <tr>
            <td>{{_id}}</td>          
            <td>{{name}}</td>
            <td>{{contact}}</td>
            <td>{{desc}}</td>
        </tr>
    {{/each}}
    
  </tbody>
</table>

<div class="container mt-5 border p-5 setBgForForm shadow-sm mb-5 rounded" style="width:70%">
    <h2> Assign the Complaint to Technician</h2>
    <br>
    <form method="post" action="/assign">
    {{!-- <div class="form-group">
        <label>Complaint Number</label>
        <input class="form-control" type="text" name="complaintID" placeholder="Complaint Number">
    </div> --}}
     <div class="form-group">
        <label>Complaint Number</label>
        <select name="complaintID" id="complaintID" class="form-control">
            {{#each complaints}}
                <option value={{_id}}> {{_id}}   </option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>Technician</label>
        <select name="technicianName" id="technicianName" class="form-control">
            {{#each technician}}
                <option value={{username}}> {{username}}   </option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Assign to Technician</button>
    </div>
    </form>
</div>



